@import url("./global.css");

@media only screen and (min-width:1024px) {
    nav { display: flex; }

    ul { gap: clamp(1rem, -0.6405rem + 3.6405vw, 3rem); }

    main { grid-template-rows: 550px 200px 1100px 50vh 45vh 625px 75vh 625px 70vh 625px 70vh 625px 100vh 625px 800px auto; }

    .layout__heading > h1 { font-size: 10.2rem;}

    .layout__description > h2 { font-size: 4.5rem; }

    .layout__descriptionImage { display: block; }

    .description__textWrapper {

        height: 435px;
        width: 485px;

    }

    .textWrapper {

        font-size: 1.8rem;
        line-height: 53px;

    }

    .card1 { font-size: 3.5rem; }

    .card2 { font-size: 3rem; }

    .card3 { font-size: 3rem; }

    .card4 { font-size: 3rem; }

    .card5 { font-size: 3rem; }

    .card6 { font-size: 3rem; }

    .layout__media > h2 { font-size: 4.5rem; }

    .media__wrapper { flex-direction: row; }

    .media__video1 { width: 267px ; height: 476px; }
    .media__video2 { width: 560px; height: 314px; }
    .media__video3 { width: 267px; height: 476px; }

    .layout__faqs > h2 { font-size: 4.5rem; }

    .footer { font-size: 1.1rem; }

}

@media only screen and (min-width:768px) and (max-width:1024px){
    nav { display: flex; }

    ul { gap: clamp(1rem, -0.6405rem + 3.6405vw, 3rem); }

    main { grid-template-rows: 550px 200px 1000px 20vh 45vh 500px 75vh 500px 70vh 500px 50vh 500px 60vh 500px auto auto; }

    .layout__heading > h1 { font-size: 10.2rem;}

    .layout__description > h2 { font-size: 4rem; }

    .layout__descriptionImage { display: block; }

    .textWrapper {

        font-size: 1.5rem;
        line-height: 32px;

    }

    .card1 { font-size: 2.2rem; }

    .card2 { font-size: 2.4rem; }

    .card3 { font-size: 2.4rem; }

    .card3 { font-size: 2.4rem; }

    .card4 { font-size: 2.4rem; }

    .card5 { font-size: 2.4rem; }

    .card6 { font-size: 2.4rem; }

    .layout__media > h2 { font-size: 4rem; }

    .media__wrapper { flex-direction: row; }

    .media__video1 { width: 200.5px ; height: 357px; }
    .media__video2 { width: 420px; height: 235.5px; }
    .media__video3 { width: 200.25px; height: 357px; }

    .layout__faqs > h2 { font-size: 4rem; }

    .footer { font-size: 1.1rem; }

}

@media only screen and (min-width:480px) and (max-width:767px) {
    nav { display: none; }

    ul { gap: clamp(1rem, -0.6405rem + 3.6405vw, 3rem); }

    main { grid-template-rows: 630px 200px 700px 25vh 45vh 540px 75vh 540px 40vh 540px 45vh 540px 60vh 540px auto auto; }

    .layout__heading > h1 { font-size: 6rem;}

    .layout__description > h2 { font-size: 3.5rem; }

    .layout__descriptionImage { display: none; }

    .textWrapper {

        font-size: 1.2rem;
        line-height: 32px;

    }

    .card1 { font-size: 1.8rem; }

    .card2 { font-size: 2rem; }

    .card3 { font-size: 2rem; }

    .card4 { font-size: 2rem; }

    .card5 { font-size: 2rem; }

    .card6 { font-size: 2rem; }

    .layout__media > h2 { font-size: 3.5rem; }

    .media__wrapper { flex-direction: column; }

    .media__video1 { width: 200.5px ; height: 357px; }
    .media__video2 { width: 420px; height: 235.5px; }
    .media__video3 { width: 200.25px; height: 357px; }

    .layout__faqs > h2 { font-size: 3.5rem; }

    .footer { font-size: 0.9rem; }

}

@media only screen and (min-width:0px) and (max-width:480px) {

    nav { display: none; }

    main { grid-template-rows: 630px 150px 500px 20vh 30vh 500px 50vh 500px 40vh 500px 30vh 500px 30vh 500px auto auto; }

    .layout__heading > h1 { font-size: 4.5rem;}

    .layout__description > h2 { font-size: 3rem; }

    .layout__descriptionImage { display: none; }

    .description__textWrapper {

        height: 400px;
        width: 430px;

        font-size: 0.8rem;

    }

    .card1 { font-size: 1.2rem; }

    .card2 { font-size: 1.5rem; }

    .card3 { font-size: 1.5rem; }

    .card4 { font-size: 1.5rem; }

    .card5 { font-size: 1.5rem; }

    .card6 { font-size: 1.5rem; }

    .layout__media > h2 { font-size: 3rem; }

    .media__wrapper { flex-direction: column; }

    .media__video1 { width: 200.5px ; height: 357px; }
    .media__video2 { width: 420px; height: 235.5px; }
    .media__video3 { width: 200.25px; height: 357px; }

    .layout__faqs > h2 { font-size: 3rem; }

    .footer { font-size: 0.75rem; }

}

*, *::before, *::after {
    box-sizing : inherit;
    margin: 0;
    padding: 0;
}

html {
    height: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 60px;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    z-index: 5;
    background-color: var(--secondary);

    }

    .navbar .logo {
    width: auto;
    justify-self: start;
    margin-left: 30px;
    font-family: var(--lato);
    font-size: 28px;
    font-weight: 700;
    color: snow;
    letter-spacing: -1px;
}

    .navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-self: end;

    }

    .nav-item { text-align: center; }

    .nav-item a {
    color: snow;
    font-family: var(--lato);
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease-out;
    }

    .nav-item a:hover {
    color: #F8DB78;
    }

    /* SEARCH FUNCTION */

    #search-icon {
    font-size: 0.9rem;
    margin-top: 3px;
    margin-left: 15px;
    transition: color 0.3s ease-out;
    }

    #search-icon:hover {
    color: #3498db;
    cursor: pointer;
    }

    .search {
    transform: translate(-35%);
    -webkit-transform: translate(-35%);
    transition: transform 0.7s ease-in-out;
    color: #3498db;
    }

    .no-search {
    transform: translate(0);
    transition: transform 0.7s ease-in-out;
    }

    .search-input {
    position: absolute;
    top: -4px;
    right: -125px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.6s ease;
    }

    .search-active {
    opacity: 1;
    z-index: 0;
    }

    input {
    border: 0;
    border-left: 1px solid #ccc;
    border-radius: 0; /* FOR SAFARI */
    outline: 0;
    padding: 5px;
    }

    /* MOBILE MENU & ANIMATION */

    .menu-toggle .bar{
    width: 25px;
    height: 3px;
    background-color: snow;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }

    .menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
    }

    .menu-toggle:hover{
    cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
    }

    /* KEYFRAME ANIMATIONS */

    @-webkit-keyframes gradbar {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @-moz-keyframes gradbar {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @keyframes gradbar {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    /* Media Queries */

    /* Mobile Devices - Phones/Tablets */

    @media only screen and (max-width: 720px) { 
    .features {
        flex-direction: column;
        padding: 50px;
    }

    /* MOBILE HEADINGS */

    h1 {
        font-size: 1.9rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    /* MOBILE NAVIGATION */
        
    .navbar { position: fixed !important; }

    .navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 60px;
        background-color: snow;
        width: 100%;
        height: calc(100vh - 55px);
        transform: translate(-101%);
        text-align: center;
        overflow: hidden;
    }

    .navbar li {
        padding: 10px;
    }

    .navbar li:first-child {
        margin-top: 50px;
    }

    .navbar li a {
        font-size: 1rem;
        color: black !important;
    }
        
    .menu-toggle, .bar {
        display: block;
        cursor: pointer;
    }

    .mobile-nav {
    transform: translate(0%)!important;
    z-index: 3;
    }

    /* SECTIONS */

    .headline {
        height: 20vh;
    }
        
    .feature-container p {
        margin-bottom: 25px;
    }

    .feature-container {
        margin-top: 20px;
    }

    .feature-container:nth-child(2) {
        order: -1;
    }

    /* SEARCH DISABLED ON MOBILE */

    #search-icon {
        display: none;
    }

    .search-input {
    display: none;
    }
}

main {
    display: grid;
    /* grid-template-rows: 550px 200px 1100px 100vh 45vh 625px 75vh 625px 70vh 625px 70vh 625px 100vh 625px 800px auto 75px; */
    height: 100%;
    position: relative;

    width: 100vw;

}


.layout__header {

    background-image: url("../../assets/images/about/about_cover.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}

.layout__heading {
    
    background-color: var(--primary);

    display: flex;
    align-items: center;
    justify-content: center;

}

.layout__heading > h1 {

    /* font-size: 9rem; */
    font-family: var(--lilitaOne);
    color: snow;
    white-space: nowrap;

}

.layout__description {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    padding: 4rem 0 0 0;

    position: relative;

}

.layout__description > h2 {

    font-family: var(--lilitaOne);
    /* font-size: 4.5rem; */
    white-space: nowrap;

}

.layout__descriptionImage {
    
    background-color: lightsteelblue;
    width: 485px;
    height: 325px;
    
    /* position: absolute;
    top: 62%;
    left: 45%; */

}

.description__textWrapper {

    height: fit-content;
    max-width: 485px;
    text-align: justify;
    font-family: var(--volkorn);
    margin: 1rem;
    /* position: absolute;
    right: 21.3%;
    top: 20%; */
    

}

.layout__first {

    display: flex;
    align-items: center;
    justify-content: center;

}

.card1 {

    font-family: var(--indieFlower);
    background-color: var(--primary);
    
    white-space: nowrap;

}

.card2 {

    background-image: url("https://media.wired.com/photos/5926f270cefba457b079ba55/master/pass/GettyImages-77328837.jpg");
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;

    color: snow;
    font-family: var(--kanit);
    /* font-size: 3rem; */

    -webkit-text-stroke: 2px black;

    text-transform: uppercase;
    text-align: center;

}

.card3 {

    background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/23/4031jfSapang_Biabas_Mawaque_Dapdap_Mabalacat_Pampangafvf_09.JPG);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    color: snow;
    font-family: var(--kanit);
    /* font-size: 3.8rem; */

    -webkit-text-stroke: 2px black;

    text-transform: uppercase;
    text-align: center;
}

.card4 {

    background-image: url("https://i.imgur.com/Vgxzg6m.jpg");
    background-position: center center;
    background-attachment: fixed;

    color: snow;
    font-family: var(--kanit);
    /* font-size: 4rem; */

    -webkit-text-stroke: 2px black;

    text-transform: uppercase;
    text-align: center;

}

.card5 {

    background-image: url("https://i.imgur.com/OVyYakb.jpg");
    background-size: cover;
    background-position: center 30%;
    background-attachment: fixed;

    color: snow;
    font-family: var(--kanit);
    /* font-size: 4rem; */

    -webkit-text-stroke: 2px black;

    text-transform: uppercase;
    text-align: center;
}

.card6 {

    background-image: url("https://scontent.fcrk2-2.fna.fbcdn.net/v/t1.18169-9/13873108_158858827872528_7014143579155146331_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=300f58&_nc_eui2=AeF17mvGPn3J_RZjndPamuMTOxBtOPcES047EG049wRLTvFBYel36E--IMsfel-Yq80EPfT1qyczBIryS-0ulpv3&_nc_ohc=d3-HlpXrkjcAX8iUfQG&_nc_ht=scontent.fcrk2-2.fna&oh=00_AfAiYTuyOgvppFjjvKJ0ScVkaefC-_wH6YT1QoWwvbO-qw&oe=65844FDD");
    background-size: cover;
    background-position: center 30%;
    background-attachment: fixed;

    color: snow;
    font-family: var(--kanit);
    /* font-size: 4rem; */

    -webkit-text-stroke: 2px black;

    text-transform: uppercase;
    text-align: center;

}

.text {

    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;

}

.textWrapper {

    width: 60%;
    height: auto;

    font-family: var(--lato);
    /* font-size: 1.5rem; */

    /* line-height: 53px; */

}

.layout__media {

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 2rem 0 4rem 0;

}

.layout__media > h2 {

    font-family: var(--lilitaOne);
    /* font-size: 5rem; */
    margin: 2.5rem 0;

}

.media__wrapper {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.media { 

    border:none;
    overflow:hidden

}

.media__video1 { }

.media__video2 { }

.media__video3 { }

.layout__faqs {

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: var(--secondary);

    padding: 4rem 2rem;

}

.layout__faqs > h2 {

    font-family: var(--lilitaOne);
    color: snow;
    margin: 0 0 2.5rem 0;

}

.container{
    max-width: 70%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 2px solid #fff;
    cursor: pointer;
    transition: all 0.1s;
    font-family: var(--volkorn);
  }
  .quesion{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .quesion h3{
    font-size: 1.4rem;
    color: snow;
  }
  .quesion svg{
    fill: var(--primary);
  }
  .container.active svg{
    transform: rotate(180deg);
  }
  
  .answer p{
    padding-top: 1rem;
    line-height: 1.6rem;
    font-size: 1rem;

    color: snow;
    font-family: var(--lato);
  }
  .answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.2s ease;
  }
  
  .container.active .answer{
    max-height: 300px;
    transition: max-height 1.2s ease;
    
  }
  
  @media (max-width: 450px){
    
    .quesion h3{
    font-size: .5rem;
  }
    
  }
  
  @media (max-width: 650px){
    
    .quesion h3{
    font-size: 1rem;
  }
    
  }
  
.footer {

    border-top: 2px black solid;

    height: 75px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: snow;

}

.footer__text {

    font-family: var(--tiltNeon);
    font-weight: bold;

}

.footer__link {

    color: black;

    transition: all 0.3s;

}

.footer__link:hover {

    color: var(--primary);

}