@import url("./global.css");

@media only screen and (min-width:1024px) {
    nav { display: flex; }

    ul { gap: clamp(1rem, -0.6405rem + 3.6405vw, 3rem); }

    main { grid-template-rows: 550px 200px 900px 600px 500px; }

    .layout__heading > h1 { font-size: 9rem; }

    .layout__contact > h2 { font-size: 4.5rem;}

    .contact__formWrapper { width: 80%; flex-direction: row; }

    .contact__form { width: fit-content; }

    .form__nameWrapper, .form__emailWrapper { width: 500px; }

    .follow__image { display: block; }

    textarea { width: 500px; }

    .locationInfo__heading { font-size: 4rem;}

    .schedule__status { font-size: 9rem; }
    .schedule__time { font-size: 5rem; }
    .schedule__day { font-size: 2.5rem; }

    .footer { font-size: 1.1rem; }

}


@media only screen and (min-width:768px) and (max-width:1024px){
    nav { display: flex; }

    ul { gap: clamp(1rem, -0.6405rem + 3.6405vw, 3rem); }

    main { grid-template-rows: 550px 200px 900px 600px 400px; }

    .layout__heading > h1 { font-size: 9rem; }

    .layout__contact > h2 { font-size: 4rem;}

    .contact__formWrapper { width: 700px; flex-direction: column; gap: 2rem; }

    .contact__form { width: 100%; }

    .form__nameWrapper, .form__emailWrapper { width: 100%; }

    textarea { width: 100%; }

    .follow__image { display: none; }

    .locationInfo__heading { font-size: 3rem;}

    .schedule__status { font-size: 7rem; }
    .schedule__time { font-size: 4rem; }
    .schedule__day { font-size: 2rem; }

    .footer { font-size: 1.1rem; }

}

@media only screen and (min-width:480px) and (max-width:767px) {
    nav { display: none; }

    ul { gap: clamp(1rem, -0.6405rem + 3.6405vw, 3rem); }

    main { grid-template-rows: 630px 200px 800px 350px 300px; }

    .layout__heading > h1 { font-size: 5rem; }

    .layout__contact > h2 { font-size: 3rem;}

    .contact__formWrapper { width: 450px; flex-direction: column; gap: 2rem; }

    .contact__form { width: 100%; }

    .form__nameWrapper, .form__emailWrapper { width: 100%; }

    textarea { width: 100%; }

    .follow__image { display: none; }

    .locationInfo__heading { font-size: 2.5rem;}

    .schedule__status { font-size: 6rem; }
    .schedule__time { font-size: 3.5rem; }
    .schedule__day { font-size: 1.5rem; }

    .footer { font-size: 0.9rem; }

}

@media only screen and (min-width:0px) and (max-width:480px) {

    nav { display: none; }

    main { grid-template-rows: 630px 150px 750px 300px 200px; }

    .layout__heading > h1 { font-size: 4rem; }

    .layout__contact > h2 { font-size: 2rem;}

    .contact__formWrapper { width: 400px; flex-direction: column; gap: 2rem; }

    .contact__form { width: 100%; }

    .form__nameWrapper, .form__emailWrapper { width: 100%; }

    textarea { width: 100%; }

    .follow__image { display: none; }

    .locationInfo__heading { font-size: 1.5rem;}

    .schedule__status { font-size: 4rem; }
    .schedule__time { font-size: 2rem; }
    .schedule__day { font-size: 1.2rem; }

    .footer { font-size: 0.75rem; }

}


*, *::before, *::after {
    box-sizing : inherit;
    margin: 0;
    padding: 0;
}

html {
    height: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 60px;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    z-index: 5;
    background-color: var(--secondary);

    }

    .navbar .logo {
    width: auto;
    justify-self: start;
    margin-left: 30px;
    font-family: var(--lato);
    font-size: 28px;
    font-weight: 700;
    color: snow;
    letter-spacing: -1px;
}

    .navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-self: end;

    }

    .nav-item { text-align: center; }

    .nav-item a {
    color: snow;
    font-family: var(--lato);
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease-out;
    }

    .nav-item a:hover {
    color: #F8DB78;
    }

    /* SEARCH FUNCTION */

    #search-icon {
    font-size: 0.9rem;
    margin-top: 3px;
    margin-left: 15px;
    transition: color 0.3s ease-out;
    }

    #search-icon:hover {
    color: #3498db;
    cursor: pointer;
    }

    .search {
    transform: translate(-35%);
    -webkit-transform: translate(-35%);
    transition: transform 0.7s ease-in-out;
    color: #3498db;
    }

    .no-search {
    transform: translate(0);
    transition: transform 0.7s ease-in-out;
    }

    .search-input {
    position: absolute;
    top: -4px;
    right: -125px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.6s ease;
    }

    .search-active {
    opacity: 1;
    z-index: 0;
    }

    input {
    border: 0;
    border-left: 1px solid #ccc;
    border-radius: 0; /* FOR SAFARI */
    outline: 0;
    padding: 5px;
    }

    /* MOBILE MENU & ANIMATION */

    .menu-toggle .bar{
    width: 25px;
    height: 3px;
    background-color: snow;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }

    .menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
    }

    .menu-toggle:hover{
    cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
    }

    /* KEYFRAME ANIMATIONS */

    @-webkit-keyframes gradbar {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @-moz-keyframes gradbar {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @keyframes gradbar {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    /* Media Queries */

    /* Mobile Devices - Phones/Tablets */

    @media only screen and (max-width: 720px) { 
    .features {
        flex-direction: column;
        padding: 50px;
    }

    /* MOBILE HEADINGS */

    h1 {
        font-size: 1.9rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    /* MOBILE NAVIGATION */
        
    .navbar { position: fixed !important; }

    .navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 60px;
        background-color: snow;
        width: 100%;
        height: calc(100vh - 55px);
        transform: translate(-101%);
        text-align: center;
        overflow: hidden;
    }

    .navbar li {
        padding: 10px;
    }

    .navbar li:first-child {
        margin-top: 50px;
    }

    .navbar li a {
        font-size: 1rem;
        color: black !important;
    }
        
    .menu-toggle, .bar {
        display: block;
        cursor: pointer;
    }

    .mobile-nav {
    transform: translate(0%)!important;
    z-index: 3;
    }

    /* SECTIONS */

    .headline {
        height: 20vh;
    }
        
    .feature-container p {
        margin-bottom: 25px;
    }

    .feature-container {
        margin-top: 20px;
    }

    .feature-container:nth-child(2) {
        order: -1;
    }

    /* SEARCH DISABLED ON MOBILE */

    #search-icon {
        display: none;
    }

    .search-input {
    display: none;
    }
}


main {
    display: grid;
    /* grid-template-rows: 550px 200px 900px 600px 500px; */
    height: 100%;
    position: relative;

    width: 100vw;

}

.layout__header {

    background-image: url("../../assets/images/contact/contact_bg.jpg");
    background-position: 20%;
    background-attachment: fixed;
    background-size: cover;

}

.layout__heading {
    
    background-color: var(--primary); 
    display: flex;
    align-items: center;
    justify-content: center;

}

.layout__heading > h1 {

    /* font-size: 9rem; */
    font-family: var(--lilitaOne);
    color: snow;
    white-space: nowrap;

}

.layout__contact {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    padding: 4rem 0;

    background-color: snow;

}

.layout__contact > h2 {

    font-family: var(--lilitaOne);
    /* font-size: 4.5rem; */
    margin: 1rem 0;
    white-space: nowrap;

}

.contact__formWrapper {

    min-width: 376px;
    height: 550px;

    background-color: bisque;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem;

}

.contact__form {

    /* width: fit-content; */
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    z-index: 2;

}

.contact__form input {

    height: 45px;
    padding: 0 1rem;
    font-family: var(--tiltNeon);
    outline: none;

}

.contact__form button {

    width: 140px;
    height: 50px;
    border-radius: 100px;

    font-family: var(--secularOne);
    font-size: 1.55rem;

    letter-spacing: 1px;

    outline: none;
    border: none;

}

.contact__form button:hover {

    cursor: pointer;
    letter-spacing: 2px;

}

.form__buttonWrapper {

    display: flex;
    gap: 1.6rem;

}

.contact__form button[type="submit"] {

    background-color: var(--secondary);
    color: snow;

}

.contact__form button[type="reset"] {

    background-color: transparent;
    border: 4px var(--secondary) solid;
    color: black;

}

.form__nameWrapper, .form__emailWrapper {

    /* width: 500px; */
    height: auto;
    white-space: nowrap

}

.contact__follow {

    width: 40%;
    height: 85%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

}

.follow__image {

    border: 1px transparent solid;

    height: 250px;
    width: 350px;

    background-image: url("../../assets/images/contact/ice_cream_balls.png");
    background-position: center;
    background-size: 100%;

}

.follow__socMedWrapper {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    width: 350px;
    height: 60px;

}

.follow__socMed {

    border-radius: 100%;
    height: 55px;
    width: 55px;

    background-color:transparent;

}

.layout__location {

    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px lightslategray solid;

}

.layout__locationInfo {

    background-color: var(--secondary);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.locationInfo__heading {

    width: 90%;
    height: fit-content;

    font-family: var(--lilitaOne);
    /* font-size: 1rem; */

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    color: snow;

}

.locationInfo__address {

    width: 80%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    flex-direction: column;

    font-family: var(--rampartOne);
    font-size: 1.3rem;
    color: var(--primary);
}



.layout__schedule {

    background-color: var(--primary);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

textarea { font-size: 13px; }

.schedule__status {

    font-family: var(--lilitaOne);
    /* font-size: 9rem; */

    color: snow;

    white-space: nowrap;

}

.schedule__time {

    font-family: var(--lilitaOne);
    /* font-size: 5rem; */

    white-space: nowrap;

}

.schedule__day {

    font-family: var(--lilitaOne);
    /* font-size: 2.5rem; */

    color: snow;

    word-spacing: 10px;

    white-space: nowrap;

}

.footer {

    border-top: 2px black solid;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 75px;

    background: snow;

}

.footer__text {

    font-family: var(--tiltNeon);
    font-weight: bold;

}

.footer__link {

    color: black;

    transition: all 0.3s;

}

.footer__link:hover {

    color: var(--primary);

}