@import url("./global.css");

@media only screen and (min-width:1024px) {
    nav { display: flex; }

    ul { gap: clamp(1rem, -0.6405rem + 3.6405vw, 3rem); }

    main { grid-template-rows: 550px 200px 900px 600px 500px; }

    .layout__heading > h1 { font-size: 9rem; }

    .layout__contact > h2 { font-size: 4.5rem;}

    .contact__formWrapper { width: 80%; flex-direction: row; }

    .contact__form { width: fit-content; }

    .form__nameWrapper, .form__emailWrapper { width: 500px; }

    .follow__image { display: block; }

    textarea { width: 500px; }

    .locationInfo__heading { font-size: 4rem;}

    .schedule__status { font-size: 9rem; }
    .schedule__time { font-size: 5rem; }
    .schedule__day { font-size: 2.5rem; }

    .footer { font-size: 1.1rem; }

}


@media only screen and (min-width:768px) and (max-width:1024px){
    nav { display: flex; }

    ul { gap: clamp(1rem, -0.6405rem + 3.6405vw, 3rem); }

    main { grid-template-rows: 550px 200px 900px 600px 400px; }

    .layout__heading > h1 { font-size: 9rem; }

    .layout__contact > h2 { font-size: 4rem;}

    .contact__formWrapper { width: 700px; flex-direction: column; gap: 2rem; }

    .contact__form { width: 100%; }

    .form__nameWrapper, .form__emailWrapper { width: 100%; }

    textarea { width: 100%; }

    .follow__image { display: none; }

    .locationInfo__heading { font-size: 3rem;}

    .schedule__status { font-size: 7rem; }
    .schedule__time { font-size: 4rem; }
    .schedule__day { font-size: 2rem; }

    .footer { font-size: 1.1rem; }

}

@media only screen and (min-width:480px) and (max-width:767px) {
    nav { display: none; }

    ul { gap: clamp(1rem, -0.6405rem + 3.6405vw, 3rem); }

    main { grid-template-rows: 630px 200px 800px 350px 300px; }

    .layout__heading > h1 { font-size: 5rem; }

    .layout__contact > h2 { font-size: 3rem;}

    .contact__formWrapper { width: 450px; flex-direction: column; gap: 2rem; }

    .contact__form { width: 100%; }

    .form__nameWrapper, .form__emailWrapper { width: 100%; }

    textarea { width: 100%; }

    .follow__image { display: none; }

    .locationInfo__heading { font-size: 2.5rem;}

    .schedule__status { font-size: 6rem; }
    .schedule__time { font-size: 3.5rem; }
    .schedule__day { font-size: 1.5rem; }

    .footer { font-size: 0.9rem; }

}

@media only screen and (min-width:0px) and (max-width:480px) {

    nav { display: none; }

    main { grid-template-rows: 630px 150px 750px 300px 200px; }

    .layout__heading > h1 { font-size: 4rem; }

    .layout__contact > h2 { font-size: 2rem;}

    .contact__formWrapper { width: 400px; flex-direction: column; gap: 2rem; }

    .contact__form { width: 100%; }

    .form__nameWrapper, .form__emailWrapper { width: 100%; }

    textarea { width: 100%; }

    .follow__image { display: none; }

    .locationInfo__heading { font-size: 1.5rem;}

    .schedule__status { font-size: 4rem; }
    .schedule__time { font-size: 2rem; }
    .schedule__day { font-size: 1.2rem; }

    .footer { font-size: 0.75rem; }

}


*, *::before, *::after {
    box-sizing : inherit;
    margin: 0;
    padding: 0;
}

html {
    height: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
}

nav {

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: absolute;
    background-color: transparent;

    min-width: 100vw;
    height: 60px;
    width: max(100vw, 1221px); /*temp fix*/

    backdrop-filter: invert(30%);

    z-index: 100;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    height: 100%;
}

li {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s;
}

li:hover {

    box-shadow: 0px -5px 0px 0px rgba(255,192,203,0.75) inset;

}

a {
    text-decoration: none;
    position: relative;
}

.border-test { border: 1px black solid; } /* utility */
.label-test {
    display: flex;
    align-items: center;
}

.navigation__links {

    color: white;
    font-family: var(--tiltNeon);

    display: flex;
    align-items: center;
    justify-content: center;
    
    text-transform: uppercase;

    letter-spacing: 0.2rem;
    
    font-size: 1.2rem;
    font-weight: bolder;

    height: 100%;
    width: 123px;

    padding: 0.5rem;

    transition: color 0.2s;

}

.navigation__links:hover {
    color: var(--currentPrimary);
}

.logo {

    width: fit-content;
    height: fit-content;

    border-radius: 2%;

    background-color: snow;


}


main {
    display: grid;
    /* grid-template-rows: 550px 200px 900px 600px 500px; */
    height: 100%;
    position: relative;

    width: 100vw;

}

.layout__header {

    background-image: url("../../assets/images/contact/contact_bg.jpg");
    background-position: 20%;
    background-attachment: fixed;
    background-size: cover;

}

.layout__heading {
    
    background-color: var(--currentPrimary);

    display: flex;
    align-items: center;
    justify-content: center;

}

.layout__heading > h1 {

    /* font-size: 9rem; */
    font-family: var(--lilitaOne);
    color: snow;
    white-space: nowrap;

}

.layout__contact {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    padding: 4rem 0;

    background-color: snow;

}

.layout__contact > h2 {

    font-family: var(--lilitaOne);
    /* font-size: 4.5rem; */
    margin: 1rem 0;
    white-space: nowrap;

}

.contact__formWrapper {

    min-width: 376px;
    height: 550px;

    background-color: bisque;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem;

}

.contact__form {

    /* width: fit-content; */
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    z-index: 2;

}

.contact__form input {

    height: 45px;
    padding: 0 1rem;
    font-family: var(--tiltNeon);
    outline: none;

}

.contact__form button {

    width: 140px;
    height: 50px;
    border-radius: 100px;

    font-family: var(--secularOne);
    font-size: 1.55rem;

    letter-spacing: 1px;

    outline: none;
    border: none;

}

.contact__form button:hover {

    cursor: pointer;

}

.form__buttonWrapper {

    display: flex;
    gap: 1.6rem;

}

.contact__form button[type="submit"] {

    background-color: pink;
    color: black;

}

.contact__form button[type="reset"] {

    background-color: transparent;
    border: 4px pink solid;
    color: black;

}

.form__nameWrapper, .form__emailWrapper {

    /* width: 500px; */
    height: auto;
    white-space: nowrap

}

.contact__follow {

    width: 40%;
    height: 85%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

}

.follow__image {

    border: 1px transparent solid;

    height: 250px;
    width: 350px;

    background-image: url("../../assets/images/contact/ice_cream_balls.png");
    background-position: center;
    background-size: 100%;

}

.follow__socMedWrapper {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    width: 350px;
    height: 60px;

}

.follow__socMed {

    border-radius: 100%;
    height: 55px;
    width: 55px;

    background-color:transparent;

}

.layout__location {

    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px lightslategray solid;

}

.layout__locationInfo {

    background-color: snow;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.locationInfo__heading {

    width: 90%;
    height: fit-content;

    font-family: var(--lilitaOne);
    /* font-size: 1rem; */

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;

}

.locationInfo__address {

    width: 80%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    flex-direction: column;

    font-family: var(--rampartOne);
    font-size: 1.1rem;

}

.layout__schedule {

    background-color: pink;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.schedule__status {

    font-family: var(--lilitaOne);
    /* font-size: 9rem; */

    color: snow;

    white-space: nowrap;

}

.schedule__time {

    font-family: var(--lilitaOne);
    /* font-size: 5rem; */

    white-space: nowrap;

}

.schedule__day {

    font-family: var(--lilitaOne);
    /* font-size: 2.5rem; */

    color: snow;

    word-spacing: 10px;

    white-space: nowrap;

}

.footer {

    border-top: 2px black solid;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 75px;

    background: snow;

}

.footer__text {

    font-family: var(--tiltNeon);
    font-weight: bold;

}

.footer__link {

    color: black;

    transition: all 0.3s;

}

.footer__link:hover {

    color: rgb(251, 103, 128);

}