@import url("./global.css");

@media only screen and (min-width:1024px) {
    main {
        grid-template-rows: 750px 1200px 350px 800px 475px 700px 400px;
    }

    nav {

        display: flex;
        
    }

    .navigation__links { font-size: clamp(1rem, 0.4rem + 1.25vw, 1.2rem); }

    ul { gap: clamp(1rem, -0.6405rem + 3.6405vw, 3rem); }

    .layout__highlights {

        align-items: center;
        justify-content: flex-end;

    }

    .highlights__header {

        font-size: 7.5rem;
        text-align: right;

    }

    .strawberry__ice-cream {

        top: 33%;
        left: calc(225px - 5.5%);
        width: 450px;

    }

    .made__wrapper1 {

        grid-template-columns: 1fr 1fr 1fr;

        width: 850px;
        height: 250px;

    }

    .made__wrapper2 {

        grid-template-columns: 1fr 1fr 1fr;

        width: 850px;
        height: 250px;

    }

    .schedule__header {

        font-size: 4rem;

    }

    .schedule__status {

        font-size: 10rem;

    }

    .block__links {

        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);

    }

    .block__link__one { grid-area: 1 / 1 / 5 / 3; }
    .block__link__two {  grid-area: 5 / 1 / 7 / 3; }
    .block__link__three { grid-area: 1 / 3 / 3 / 5; }
    .block__link__four { grid-area: 3 / 3 / 5 / 5; }
    .block__link__five { grid-area: 5 / 3 / 7 / 5; }
    .block__link__six { grid-area: 3 / 5 / 7 / 7; }
    .block__link__seven { grid-area: 1 / 5 / 3 / 7; } 

    .story__quote { font-size: 2.8rem; }

    .story__image1 {
        left: 5%;
        bottom: 23%;
        width: 280px;

    }
    .story__image2 {

        width: 350px;

        left: 29%;
        top: 17%;

    }

    .story__image3 {

        width: 215px;

        left: 58%;
        top: 6%;

    }

    .story__image4 {

        width: 215px;

        left: 78%;
        top: 6%;

    }

    .story__imagesWrapper--mobile { display: none; }

    .testimony { width: 375px; }

    .testimony__message { width: 300px ;}

    .testimony__wrapper { flex-direction: row; }

    .testimonies__header { margin: 3rem 0;}

    .ending { flex-direction: row; }

    .ending__header { font-size: 5rem;}

    .ending__logo { width: 450px; height: 450px; background-image: url("../../assets/images/logo.png");}

    .footer { font-size: 1.1rem; height: 75px;}

}

@media only screen and (min-width:768px) and (max-width:1024px){
    main {
        grid-template-rows: 750px 1200px 350px 600px 750px 850px 300px;
    }

    nav {

        display: flex;
        
    }

    .navigation__links { font-size: clamp(1rem, 0.4rem + 1.25vw, 1.2rem); }

    ul { gap: clamp(1rem, -0.6405rem + 3.6405vw, 3rem); }

    /* .navbar ul { gap: clamp(1rem, -0.6405rem + 3.6405vw, 3rem);} */

    .layout__highlights {

        align-items: center;
        justify-content: flex-end;

    }

    .highlights__header {

        font-size: 6rem;
        text-align: right;

    }

    .strawberry__ice-cream {

        top: 45%;
        left: calc(200px - 10.5%);
        width: 400px;

    }

    .made__wrapper1 {

        grid-template-columns: 1fr 1fr 1fr;

        width: 750px;
        height: 250px;
    }

    .made__wrapper2 {

        grid-template-columns: 1fr 1fr 1fr;

        width: 750px;
        height: 250px;

    }

    .schedule__header {

        font-size: 4rem;

    }

    .schedule__status {

        font-size: 10rem;

    }

    .block__links {

        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);

    }

    .block__link__one { grid-area: 1 / 1 / 5 / 3; }
    .block__link__two {  grid-area: 5 / 1 / 7 / 3; }
    .block__link__three { grid-area: 1 / 3 / 3 / 5; }
    .block__link__four { grid-area: 3 / 3 / 5 / 5; }
    .block__link__five { grid-area: 5 / 3 / 7 / 5; }
    .block__link__six { grid-area: 3 / 5 / 7 / 7; }
    .block__link__seven { grid-area: 1 / 5 / 3 / 7; } 

    .story__quote { font-size: 2.8rem; }

    .story__image1 {
        left: 5%;
        bottom: 23%;
        width: 280px;

    }
    .story__image2 {

        width: 350px;

        left: 29%;
        top: 17%;

    }

    .story__image3 {

        width: 215px;

        left: 58%;
        top: 6%;

    }

    .story__image4 {

        width: 215px;

        left: 78%;
        top: 6%;

    }

    .story__imagesWrapper--mobile { display: none; }

    .story__color-division { width: 45%; }

    .testimony__wrapper { flex-direction: row; }

    .testimonies__header { margin: 7rem 0;}


    .testimony { width: 275px; }

    .testimony__message { width: 100% ;}

    .ending { flex-direction: column; }

    .ending__header { font-size: 4rem;}

    .ending__logo { width: 450px; height: 450px; background-image: url("../../assets/images/logo.png"); }

    .footer { font-size: 1.1rem; height: 75px;}

}

@media only screen and (min-width:480px) and (max-width:767px) {
    main {
        grid-template-rows: 750px 2200px 350px 1700px 600px 1750px 200px;
    }

    nav {

        display: none;
        
    }

    ul { gap: clamp(1rem, -0.6405rem + 3.6405vw, 3rem); }

    .strawberry__ice-cream {

        top: 45%;        
        left: calc(50% - 200px);     
        width: 400px;

    }

    .layout__highlights {

        align-items: flex-start;
        justify-content: center;

    }

    .highlights__header {

        font-size: 4.5rem;
        text-align: center;
        margin-top: 60px;

    }

    .made__wrapper1 {

        grid-template-rows: 1fr 1fr 1fr;

        width: 250px;
        height: 850px;

    }

    .made__wrapper2 {

        grid-template-rows: 1fr 1fr 1fr;

        width: 250px;
        height: 850px;

    }

    .schedule__header {

        font-size: 3rem;

    }

    .schedule__status {

        font-size: 9rem;

    }

    .block__links {

        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr); 

    }

    .block__link__one { grid-area: 1 / 1 / 2 / 2; }
    .block__link__two { grid-area: 2 / 1 / 3 / 2; }
    .block__link__three { grid-area: 3 / 1 / 4 / 2; }
    .block__link__four { grid-area: 4 / 1 / 5 / 2; }
    .block__link__five { grid-area: 5 / 1 / 6 / 2; }
    .block__link__six { grid-area: 6 / 1 / 7 / 2; }
    .block__link__seven { grid-area: 7 / 1 / 8 / 2; }

    .story__quote {

        font-size: 1.8rem;

    }

    .story__image1 {
        display: none;
        left: 5%;
        bottom: 23%;
        width: 200px;

    }
    .story__image2 {
        display: none;
        width: 350px;

        left: 29%;
        top: 17%;

    }

    .story__image3 {
        display: none;
        width: 215px;

        left: 58%;
        top: 6%;

    }

    .story__image4 {
        display: none;
        width: 215px;

        left: 78%;
        top: 6%;

    }

    .story__imagesWrapper--mobile { display: flex; }

    .story__color-division { width: 45%; }


    .testimony { width: 375px; }

    .testimony__message { width: 300px ;}

    .testimony__wrapper { flex-direction: column; }

    .testimonies__header { margin: 3rem 0;}

    .ending { flex-direction: column; }

    .ending__header { font-size: 3rem;}

    .ending__logo { width: 200px; height: 200px; background-image: url("../../assets/images/logo_150.png"); }

    .footer { font-size: 0.9rem; height: 75px;}
}

@media only screen and (min-width:0px) and (max-width:480px) {
    main {
        grid-template-rows: 680px 2200px 350px 1500px 500px 1800px 200px;
    }

    nav {

        display: none;

    }

    .layout__highlights {

        align-items: flex-start;
        justify-content: center;

    }

    .highlights__header {

        font-size: 4rem;
        text-align: center;

        margin-top: 100px;

    }

    .strawberry__ice-cream {

        top: 55%;
        left: calc(50% - 169px);
        width: 338px;
    }

    .made__wrapper1 {

        grid-template-rows: 1fr 1fr 1fr;

        width: 250px;
        height: 900px;

    }

    .made__wrapper2 {

        grid-template-rows: 1fr 1fr 1fr;

        width: 250px;
        height: 900px;

    }

    .schedule__header {

        font-size: 40px;

    }

    .schedule__status {

        font-size: 9rem;

    }

    .block__links {

        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr); 

    }

    .block__link__one { grid-area: 1 / 1 / 2 / 2; }
    .block__link__two { grid-area: 2 / 1 / 3 / 2; }
    .block__link__three { grid-area: 3 / 1 / 4 / 2; }
    .block__link__four { grid-area: 4 / 1 / 5 / 2; }
    .block__link__five { grid-area: 5 / 1 / 6 / 2; }
    .block__link__six { grid-area: 6 / 1 / 7 / 2; }
    .block__link__seven { grid-area: 7 / 1 / 8 / 2; } 

    .story__quote {

        font-size: 1.8rem;

    }

    .story__image1 {
        display: none;
        left: 5%;
        bottom: 23%;
        width: 200px;

    }
    .story__image2 {
        display: none;
        width: 350px;

        left: 29%;
        top: 17%;

    }

    .story__image3 {
        display: none;
        width: 215px;

        left: 58%;
        top: 6%;

    }

    .story__image4 {
        display: none;
        width: 215px;

        left: 78%;
        top: 6%;

    }

    .story__imagesWrapper--mobile { display: flex; }
    .story__color-division { width: 1000px; }

    .testimony__wrapper { flex-direction: column; }

    .testimony { width: 375px;}

    .testimony__message { width: 300px ;}

    .testimonies__header { margin: 3rem 0;}

    .ending { flex-direction: column; }

    .ending__header { font-size: 3rem;}

    .ending__logo { width: 200px; height: 200px; background-image: url("../../assets/images/logo_150.png"); }

    .footer { font-size: 0.75rem; height: 75px;}
}
*, *::before, *::after {
    box-sizing : inherit;
    margin: 0;
    padding: 0;
}

html {
    height: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    overflow: hidden;
}

a { text-decoration: none;}

/* NAVIGATION */

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 60px;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    z-index: 5;
    background-color: var(--secondary);

    }

    .navbar img {
    width: auto;
    justify-self: start;
    margin-left: 30px;
    font-family: var(--lato);
    font-size: 28px;
    font-weight: 700;
    color: snow;
    letter-spacing: -1px;
}

    .navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-self: end;

    }

    .nav-item { text-align: center; }

    .nav-item a {
    color: snow;
    font-family: var(--lato);
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease-out;
    }

    .nav-item a:hover {
    color: #F8DB78;
    }

    /* SEARCH FUNCTION */

    #search-icon {
    font-size: 0.9rem;
    margin-top: 3px;
    margin-left: 15px;
    transition: color 0.3s ease-out;
    }

    #search-icon:hover {
    color: #3498db;
    cursor: pointer;
    }

    .search {
    transform: translate(-35%);
    -webkit-transform: translate(-35%);
    transition: transform 0.7s ease-in-out;
    color: #3498db;
    }

    .no-search {
    transform: translate(0);
    transition: transform 0.7s ease-in-out;
    }

    .search-input {
    position: absolute;
    top: -4px;
    right: -125px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.6s ease;
    }

    .search-active {
    opacity: 1;
    z-index: 0;
    }

    input {
    border: 0;
    border-left: 1px solid #ccc;
    border-radius: 0; /* FOR SAFARI */
    outline: 0;
    padding: 5px;
    }

    /* MOBILE MENU & ANIMATION */

    .menu-toggle .bar{
    width: 25px;
    height: 3px;
    background-color: snow;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }

    .menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
    }

    .menu-toggle:hover{
    cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
    }

    /* KEYFRAME ANIMATIONS */

    @-webkit-keyframes gradbar {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @-moz-keyframes gradbar {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @keyframes gradbar {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    /* Media Queries */

    /* Mobile Devices - Phones/Tablets */

    @media only screen and (max-width: 720px) { 
    .features {
        flex-direction: column;
        padding: 50px;
    }

    /* MOBILE HEADINGS */

    h1 {
        font-size: 1.9rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    /* MOBILE NAVIGATION */
        
    .navbar { position: fixed !important; }

    .navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 60px;
        background-color: snow;
        width: 100%;
        height: calc(100vh - 55px);
        transform: translate(-101%);
        text-align: center;
        overflow: hidden;
    }

    .navbar li {
        padding: 10px;
    }

    .navbar li:first-child {
        margin-top: 50px;
    }

    .navbar li a {
        font-size: 1rem;
        color: black !important;
    }
        
    .menu-toggle, .bar {
        display: block;
        cursor: pointer;
    }

    .mobile-nav {
    transform: translate(0%)!important;
    z-index: 3;
    }

    /* SECTIONS */

    .headline {
        height: 20vh;
    }
        
    .feature-container p {
        margin-bottom: 25px;
    }

    .feature-container {
        margin-top: 20px;
    }

    .feature-container:nth-child(2) {
        order: -1;
    }

    /* SEARCH DISABLED ON MOBILE */

    #search-icon {
        display: none;
    }

    .search-input {
    display: none;
    }
}

main {
    display: grid;
    /* grid-template-rows: 750px 1200px 350px 800px 975px 850px 500px 75px; */
    height: 100%;
    position: relative;

}

.layout__highlights {
    position: relative;
    display: flex;
    /* align-items: center;
    justify-content: flex-end; */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Firefox */
    /* min-width: 100%; */

    overflow: hidden;
    
    background-color: #F8DB78;

    padding: 3rem;

    /* background-image: url("https://www.foodandwine.com/thmb/Dl7L5u2c7sbVp6vyxnqhcxz9M50=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Super-Scoops-FT-2-MAG0622-00568f6534a44e0c8a422b66b25d6cf6.jpg"); */

}

.layout__highlights::-webkit-scrollbar {
    display: none;
}

.layout__highlights__buttons {

    position: absolute;
    display: 100px;
    width: 100px;

}

.layout__highlights__buttons__forward {

    right: 1%;

}

.highlights__header {

    color: white;

    font-family: var(--lilitaOne);
    font-weight: bolder;
    white-space: nowrap;

}


.strawberry__ice-cream {

    position: absolute;

}

.layout__made {

    display: flex;
    align-items: center;
    flex-direction: column;

    font-family: var(--lilitaOne);

    overflow: hidden;
}

.made__header {

    font-family: var(--lilitaOne);
    font-size: 5rem;

    margin: 6rem 0 2rem 0;

    text-align: center;

}

.made__hook {

    font-family: var(--lilitaOne);
    font-size: 2rem;

    text-align: center;

}

.made__wrapper1 {

    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 1rem;

    margin: 6rem 0 1.5rem 0;

    transition: all 0.3s;

}

.made__wrapper2 {

    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 1rem;

    margin: 0 0 0 0;

    transition: all 0.3s;

}

.made__block {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;

}

.made__blockImage {

    position: absolute;

    top: 20px;
}

.made__blockTitle {

    position: absolute;
    bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    width: 80%;
    height: 30%;

}

.made__link {

    color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--koulen);
    font-size: 2.6rem;

    border: 2px black solid;

    width: 275px;
    height: fit-content;

    margin: 4rem;

    position: relative;

    transition: all 0.5s;

}

.made__link:hover {

    color: black !important;
    border: none;
    letter-spacing: 0.15rem;
    background-color: snow;

}

.made__link::before {

    border-radius: 100px;

    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    height: 2px;
    width: 0%;
    background-color: black;

    transition: all 0.3s;

}

.made__link:hover::before {

    width: 100%;

}

.made__link::after {

    border-radius: 100px;

    position: absolute;
    bottom: 0px;
    right: 0px;
    content: "";
    height: 2px;
    width: 0%;
    background-color: black;

    transition: all 0.3s;

}

.made__link:hover::after {

    width: 100%;

}

.layout__schedule {

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;
    overflow: hidden;

    border-right: 1rem snow solid;
    border-left: 1rem snow solid;

    background-color: var(--secondary);

}

.schedule__wrapper {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 565px;
    height: 275px;

    padding: 1.5rem;

    transition: all 2s ease;

}

.schedule__header {

    color: snow;

    font-family: var(--lilitaOne);

    text-align: center;

    transition: all 1.5s;

}


.schedule__status {

    color: snow;

    font-family: var(--lilitaOne);

    transition: all 1.5s;

}

.schedule__button {

    position: absolute;
    right: 0;

    border: 5px #79694f solid;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 2rem;

    width: 75px;
    height: 75px;

    transition: all 0.5s ;

}

.schedule__button:hover {
    cursor: pointer;
    border: 3px black solid;
    background-color: #79694f;
}

.layout__block__links {
    display: grid;
    /* grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr); */
    gap: 1rem;
    padding: 1rem;
    
}

.block__link {

    background-image: url("../../assets/images/testimg.png");

    background-size: 100% 100%;

    background-position: center center;

    overflow: hidden;

    transition: all 0.3s;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}

.block__link:hover {

    cursor: pointer;

    transform: scale(1.02);

}

.block__link__text {
    color: snow;
    margin: 1rem;

    text-align: right;

    font-family: var(--secularOne);
    font-size: 1.8rem;
}
    
.block__link__one { 
    /* margin-left: 1rem; */
    height: 100%;
    background-image: url("https://t3.ftcdn.net/jpg/03/10/28/46/360_F_310284603_7LydDitrWEVlo4JhoH3JtOlxWLsEhw5f.jpg");
    background-size: cover;
    /* grid-area: 1 / 1 / 5 / 3; */
}
.block__link__two { 
    /* margin-left: 1rem; */
    height: 100%;
    background-image: url("https://quickasianrecipes.com/wp-content/uploads/2022/10/main-image-1000x500-1521431958-122-176-241-217.jpg");
    background-size: cover;
    /* grid-area: 5 / 1 / 7 / 3; */

}
.block__link__three { 
    height: 100%;
    background-image: url("https://www.rappler.com/tachyon/2022/07/dirty-ice-cream.jpg");
    background-size: cover;
    /* grid-area: 1 / 3 / 3 / 5; */

}
.block__link__four { 
    height: 100%;
    background-image: url("https://live.staticflickr.com/7139/8168514118_dd54784ff5_b.jpg");
    background-size: cover;

}
.block__link__five { 
    height: 100%;
    background-image: url("https://t3.ftcdn.net/jpg/04/51/59/02/360_F_451590284_vWcRf0tdr9xH1hhXuR1fs9wvNLgxjWrv.jpg");
    background-size: cover;
}
.block__link__six { 
    height: 100%;
    background-image: url("https://c.stocksy.com/a/vkH400/z9/1021569.jpg");
    background-size: cover;
    background-position: top;
}
.block__link__seven { 
    height: 100%;
    background-image: url("https://www.mollymoon.com/uploads/images/blog/_blogImage/Natnl-Ice-Cream-Day-02_blog.jpg");
    background-size: cover;
    background-position: top;
} 

.layout__story {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;

    background-color: snow;

}

.story__image {

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    height: 55%;

}

.story__color-division {

    width: 100%;
    height: 100%;

    color: snow;

    background-color: var(--secondary);

    border-right: 1rem snow solid;
    border-left: 1rem snow solid;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.story__image1 {

    position: absolute;
    /* left: 5%;
    bottom: 23%; */

    border-radius: 8%;

    /* width: 280px; */

}

.story__image2 {

    position: absolute;

    /* width: 350px;

    left: 29%;
    top: 17%; */

    border-radius: 8%;

}

.story__image3 {

    position: absolute;

    /* width: 215px;

    left: 58%;
    top: 6%; */

    border-radius: 8%;

}

.story__image4 {

    position: absolute;

    /* width: 215px;

    left: 78%;
    top: 6%; */

    border-radius: 8%;

}

.story__imagesWrapper--mobile {

    position: relative;
    bottom: -12%;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    width: 80%;


}

.story__imagesWrapper--mobile > * { max-width: 100%; border-radius: 8%; }

.story__imagesWrapper--mobile :nth-child(1) { height: 375px; }
.story__imagesWrapper--mobile :nth-child(2) { height: 300px; }
.story__imagesWrapper--mobile :nth-child(3) { height: 380px; }
.story__imagesWrapper--mobile :nth-child(4) { height: 380px; }

.story__quote {

    font-family: var(--indieFlower);
    font-weight: bolder;

    letter-spacing: 0.2rem;

    text-align: center;
    
    margin: 2rem 2rem;

}

.story__anecdote {

    font-family: var(--lato);
    font-size: 1.5rem;
    color: var(--primary);
    line-height: 2.2rem;

    text-align: center;

}

.story__readmore {

    display: flex;
    align-items: center;
    justify-content: center;

    color: snow;

    width: 300px;
    height: max-content;

    font-size: 1.7rem;
    font-family: var(--koulen);

    padding: 0.5rem; 

    border-radius: 15px;

    margin: 1.5rem 0;

    transition: all 0.5s;

}

.story__readmore:hover {

    background-color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0.15rem;
    color: black;
    cursor: pointer;

}

.layout__testimonies {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: snow;
    width: 100%;

    overflow: hidden;

}

.testimonies__header {

    font-family: var(--lilitaOne);
    font-size: 3.3rem;

    text-align: center;

}

.testimony__wrapper {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    width: fit-content;
    height: fit-content;

}

.testimony {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;

    border-radius: 2%;

    background-color: var(--currentPrimary);

    /* width: 375px; */
    height: 475px;

    padding: 2rem;

}

.testimony__image {

    border-radius: 100%;

    background-color: rgba(119, 136, 153, 0.3);

    width: 110px;
    height: 110px;

}

.testimony__info {

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--secularOne);
    font-size: 1.5rem;

    width: 250px;
    height: 75px;

}

.testimony__message {

    position: relative;

    background-color: white;

    border-radius: 2%;
    
    /* width: 300px; */
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.message {

    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    text-align: center;
    font-family: var(--volkorn);

}

.testimony__quote {

    width: 48px;
    height: 48px;

    position: absolute;
    top: 5px;
    left: 5px;

}

.layout__ending {

    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    background-image: url(https://images.pexels.com/photos/1262302/pexels-photo-1262302.jpeg);
    background-position: center 40%;
    background-size: cover;

}   

.ending__header {


    font-family: var(--lilitaOne);
    /* font-size: 5rem; */
    /* letter-spacing: -0.2rem; */

    text-align: center;

}

.ending__logo {

    display: none;

    border: 4px black solid;

    border-radius: 999px;

    background-color: white;

    /* background-image: url("../../assets/images/logo.png"); */
    background-repeat: no-repeat;
    background-position: center center;

    /* width: 450px;
    height: 450px; */

}

.footer {

    border-top: 2px black solid;

    display: flex;
    align-items: center;
    justify-content: center;

    background: snow;
    height: 75px;

    text-align: center;

}

.footer__text {

    font-family: var(--tiltNeon);
    font-weight: bold;

}

.footer__link {

    color: black;

    transition: all 0.3s;

}

.footer__link:hover {

    color: var(--primary);

}

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.snip1574 {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1574 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1574 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.7;
}

.snip1574 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 80px 10% 15%;
}

.snip1574 figcaption:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 170px;
  opacity: 0.35;
  font-style: normal;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0px;
  left: 50%;
}

.snip1574 blockquote {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1.2em;
}

.snip1574 h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}

.snip1574 h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 1px;
}
