@import url("./global.css");

@media only screen and (min-width:1024px) {

    nav { display: flex; }

    .navigation__links { 
        font-size: clamp(0.9rem, 0.5769rem + 0.6731vw, 1.25rem); 
        width: clamp(7.1875rem, 4.5913rem + 5.4087vw, 10rem);
    
    }

    ul { gap: clamp(1rem, -0.6405rem + 3.6405vw, 3rem); }

    main { grid-template-rows: 550px 200px repeat(12, 800px); }

    .process__heading { font-size: 10.2rem; }

    .process__story.milk__bg + .process__heading {

        top: calc(50% - 126px);
        left: calc(50% - 469px);
    
        font-size: 10.5rem;
    
    }

    .process__story.split {
        grid-template-columns: 1fr 1fr;
    }

    .milk_split__bg { display: block; }
    .environment_split__bg { display: block; }
    .ingredients_split__bg { display: block; }
    .ice_split__bg { display: block; }
    .local_split__bg { display: block; }
    .cones_split__bg { display: block; }

    .process__story.environment__bg + .process__heading {

        top: calc(50% - 120px);
        left: calc(50% - 429px);
    
        text-align: center;
    
        line-height: 80px;
    
        font-size: 6.5rem;
    
    }

    .process__story.ingredients__bg + .process__heading {
     
        top: calc(50% - 130px);
        left: calc(50% - 386px);

        text-align: center;

        line-height: 130px;

        font-size: 10.5rem;
    
    }

    .process__story.ice__bg + .process__heading {

        top: calc(50% - 126px);
        left: calc(50% - 502px);
    
        font-size: 10.5rem;
    
    }

    .process__story.local__bg + .process__heading {

        top: calc(50% - 130px);
        left: calc(50% - 432px);
    
        text-align: center;
    
        line-height: 130px;
    
        font-size: 10.5rem;
    
    }

    .process__story.cones__bg + .process__heading {

        top: calc(50% - 126px);
        left: calc(50% - 564px);
    
        font-size: 10.5rem;
    
    }

    .process__contentText {

        font-size: 1rem;

    }

    .process__contentForward {

        right: -15%;

    }

    .process__contentBackward {

        left: -15%;

    }

    .footer { font-size: 1.1rem; }

}

@media only screen and (min-width:768px) and (max-width:1024px){

    nav { display: flex; }

    .navigation__links { 

        font-size: clamp(0.9rem, 0.5769rem + 0.6731vw, 1.25rem); 
        width: clamp(7.1875rem, 4.5913rem + 5.4087vw, 10rem);

    }

    ul { gap: clamp(1rem, -0.6405rem + 3.6405vw, 3rem); }

    main { grid-template-rows: 550px 200px repeat(12, 800px); }

    .process__heading { font-size: 5.5rem; }

    .process__story.milk__bg + .process__heading {
        
        top: calc(50% - 72px);
        left: calc(50% - 268px);
        
        font-size: 6rem;
    
    }

    .process__story.split { grid-template-columns: 1fr; }

    .milk_split__bg { display: none; }
    .environment_split__bg { display: none; }
    .ingredients_split__bg { display: none; }
    .ice_split__bg { display: none; }
    .local_split__bg { display: none; }
    .cones_split__bg { display: none; }

    .process__story.environment__bg + .process__heading {

        top: calc(50% - 120px);
        left: calc(50% - 429px);
        text-align: center;
        line-height: 80px;
        font-size: 6.5rem;
    
    }

    .process__story.ingredients__bg + .process__heading {
     
        top: calc(50% - 60px);
        left: calc(50% - 184px);
        text-align: center;
        line-height: 60px;
        font-size: 5rem;
    
    }

    .process__story.ice__bg + .process__heading {

        top: calc(50% - 72px);
        left: calc(50% - 286px);
        font-size: 6rem;
    
    }

    .process__story.local__bg + .process__heading {

        top: calc(50% - 70px);
        left: calc(50% - 247px);
        text-align: center;
        line-height: 70px;
        font-size: 6rem;
    
    }

    .process__story.cones__bg + .process__heading {

        top: calc(50% - 72px);
        left: calc(50% - 322px);
        font-size: 6rem;
    
    }

    .process__contentText {

        font-size: 1rem;

    }

    .process__contentForward {

        right: -15%;

    }

    .process__contentBackward {

        left: -15%;

    }

    .footer { font-size: 1.1rem; }

}

@media only screen and (min-width:480px) and (max-width:767px) {

    nav { display: none; }

    ul { gap: clamp(1rem, -0.6405rem + 3.6405vw, 3rem); }

    main { grid-template-rows: 630px 200px repeat(12, 750px); }

    .process__heading { font-size: 5rem; }

    .process__story.milk__bg + .process__heading {

        top: calc(50% - 60px);
        left: calc(50% - 224px);
    
        font-size: 5rem;
    
    }

    .process__story.split { grid-template-columns: 1fr; }

    .milk_split__bg { display: none; }
    .environment_split__bg { display: none; }
    .ingredients_split__bg { display: none; }
    .ice_split__bg { display: none; }
    .local_split__bg { display: none; }
    .cones_split__bg { display: none; }

    .process__story.environment__bg + .process__heading {

        top: calc(50% - 75px);
        left: calc(50% - 231px);
        line-height: 50px;
        font-size: 3.5rem;
    
    }

    .process__story.ingredients__bg + .process__heading {
     
        top: calc(50% - 60px);
        left: calc(50% - 184px);
        text-align: center;
        line-height: 60px;
        font-size: 5rem;
    
    }

    .process__story.ice__bg + .process__heading {

        top: calc(50% - 49px);
        left: calc(50% - 191px);
        font-size: 4rem;
    
    }

    .process__story.local__bg + .process__heading {

        top: calc(50% - 60px);
        left: calc(50% - 205px);
        text-align: center;
        line-height: 60px;
        font-size: 5rem;
    
    }

    .process__story.cones__bg + .process__heading {

        top: calc(50% - 54px);
        left: calc(50% - 244px);
        font-size: 4.5rem;
    
    }

    .process__contentText {

        font-size: 0.75rem;

    }

    .process__contentForward {

        right: -15%;

    }

    .process__contentBackward {

        left: -15%;

    }

    .footer { font-size: 0.9rem; }

}

@media only screen and (min-width:0px) and (max-width:480px) {

    nav { display: none; }

    main { grid-template-rows: 630px 200px repeat(12, 700px); }

    .process__heading { font-size:  3rem; }

    .process__story.milk__bg + .process__heading {

        top: calc(50% - 49px);
        left: calc(50% - 178px);
    
        font-size: 4rem;
    
    }

    .process__story.split { grid-template-columns: 1fr; }

    .milk_split__bg { display: none; }
    .environment_split__bg { display: none; }
    .ingredients_split__bg { display: none; }
    .ice_split__bg { display: none; }
    .local_split__bg { display: none; }
    .cones_split__bg { display: none; }

    .process__story.environment__bg + .process__heading {

        top: calc(50% - 75px);
        left: calc(50% - 198px);
        line-height: 50px;
        font-size: 3rem;
    
    }

    .process__story.ingredients__bg + .process__heading {
     
        top: calc(50% - 50px);
        left: calc(50% - 110px);
        text-align: center;
        line-height: 50px;
        font-size: 3rem;
    
    }

    .process__story.ice__bg + .process__heading {

        top: calc(50% - 36px);
        left: calc(50% - 143px);
        font-size: 3rem;
    
    }

    .process__story.local__bg + .process__heading {

        top: calc(50% - 50px);
        left: calc(50% - 144px);
        text-align: center;
        line-height: 50px;
        font-size: 3.5rem;
    
    }

    .process__story.cones__bg + .process__heading {

        top: calc(50% - 42px);
        left: calc(50% - 188px);
        font-size: 3.5rem;
    
    }

    .process__contentText {

        font-size: 0.75rem;

    }

    .process__contentForward {

        right: -20%;

    }

    .process__contentBackward {

        left: -20%;

    }

    .footer { font-size: 0.75rem; }

}

*, *::before, *::after {
    box-sizing : inherit;
    margin: 0;
    padding: 0;
}

html {
    height: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
}

main {
    display: grid;
    /* grid-template-rows: 550px 200px repeat(12, 800px) 75px; */
    height: 100%;
    position: relative;

    width: 100vw;

}

@keyframes open {

    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
    
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 60px;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    z-index: 5;
    background-color: var(--secondary);

    }

    .navbar img {
    width: auto;
    justify-self: start;
    margin-left: 30px;
    font-family: var(--lato);
    font-size: 28px;
    font-weight: 700;
    color: snow;
    letter-spacing: -1px;
}

    .navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-self: end;

    }

    .nav-item { text-align: center; }

    .nav-item a {
    color: snow;
    font-family: var(--lato);
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease-out;
    }

    .nav-item a:hover {
    color: #F8DB78;
    }

    /* SEARCH FUNCTION */

    #search-icon {
    font-size: 0.9rem;
    margin-top: 3px;
    margin-left: 15px;
    transition: color 0.3s ease-out;
    }

    #search-icon:hover {
    color: #3498db;
    cursor: pointer;
    }

    .search {
    transform: translate(-35%);
    -webkit-transform: translate(-35%);
    transition: transform 0.7s ease-in-out;
    color: #3498db;
    }

    .no-search {
    transform: translate(0);
    transition: transform 0.7s ease-in-out;
    }

    .search-input {
    position: absolute;
    top: -4px;
    right: -125px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.6s ease;
    }

    .search-active {
    opacity: 1;
    z-index: 0;
    }

    input {
    border: 0;
    border-left: 1px solid #ccc;
    border-radius: 0; /* FOR SAFARI */
    outline: 0;
    padding: 5px;
    }

    /* MOBILE MENU & ANIMATION */

    .menu-toggle .bar{
    width: 25px;
    height: 3px;
    background-color: snow;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }

    .menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
    }

    .menu-toggle:hover{
    cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
    }

    /* KEYFRAME ANIMATIONS */

    @-webkit-keyframes gradbar {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @-moz-keyframes gradbar {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @keyframes gradbar {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    /* Media Queries */

    /* Mobile Devices - Phones/Tablets */

    @media only screen and (max-width: 720px) { 
    .features {
        flex-direction: column;
        padding: 50px;
    }

    /* MOBILE HEADINGS */

    h1 {
        font-size: 1.9rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    /* MOBILE NAVIGATION */
        
    .navbar { position: fixed !important; }

    .navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 60px;
        background-color: snow;
        width: 100%;
        height: calc(100vh - 55px);
        transform: translate(-101%);
        text-align: center;
        overflow: hidden;
    }

    .navbar li {
        padding: 10px;
    }

    .navbar li:first-child {
        margin-top: 50px;
    }

    .navbar li a {
        font-size: 1rem;
        color: black !important;
    }
        
    .menu-toggle, .bar {
        display: block;
        cursor: pointer;
    }

    .mobile-nav {
    transform: translate(0%)!important;
    z-index: 3;
    }

    /* SECTIONS */

    .headline {
        height: 20vh;
    }
        
    .feature-container p {
        margin-bottom: 25px;
    }

    .feature-container {
        margin-top: 20px;
    }

    .feature-container:nth-child(2) {
        order: -1;
    }

    /* SEARCH DISABLED ON MOBILE */

    #search-icon {
        display: none;
    }

    .search-input {
    display: none;
    }
}

.process__imageWrapper {
    position: relative;
}

.process__image {
    width: 100%; 
    height: 100%;
}

.process__heading {
    position: absolute; 

    white-space: nowrap;

    font-family: var(--kanit);

    z-index: 2; 

}

.process__header {

    background-image: url("../../assets/images/process/process_bg.jpg");
    background-position: center 100%;
    background-size: cover;
    background-attachment: fixed;

    opacity: 60%;

    position: relative;

}

.process__header::before {

    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: var(--strawberrySecondary);
    height: 100%;
    width: 0%;

    animation: open 1s ease-in 0s 1;

}

.process__header::after {

    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background-color: var(--strawberryPrimary);
    height: 100%;
    width: 0%;

    animation: open 1s ease-in 0s 1;

}

.process__header + .process__heading {

    text-align: right;

    top: 25%;
    right: 2%;

    line-height: 8.9rem;

    letter-spacing: 10px;

    font-size: 12rem;

    color: var(--strawberryTextHover);
    -webkit-text-stroke: 9px var(--strawberrySecondary);

}

.process__divider {
    background-color: var(--primary);

    display: flex;
    align-items: center;
    justify-content: center;
}

.process__divider > h1 {

    font-family: var(--lilitaOne);
    /* font-size: 8.5rem; */

    white-space: nowrap;

    color: snow;

}

.process__story.split {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
}

.process__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.process__contentTextWrapper {

    position: relative;

    width: 70%;
    min-width: 325px;

    height: 50%;

    background-color: var(--secondary)

}

.process__contentText {
    
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    font-family: var(--lato);
    color: snow;

    padding: 3rem;

    text-align: justify;
    overflow: scroll;

    outline: 2px snow solid;
    outline-offset: -10px;

    border: 3px black solid;

}

.process__contentBackward {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.5rem;

    position: absolute;
    border-radius: 100px;
    top: calc(50% - 24px);
    /* left: -15%; */
    height: 48px;
    width: 48px;
    border: 1px black solid;

    user-select: none;

    transition: all 0.2s;
}

.process__contentForward {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.5rem;

    position: absolute;
    border-radius: 100px;
    top: calc(50% - 24px);
    /* right: -15%;     */
    height: 48px;
    width: 48px;
    border: 1px black solid;
    content: "";

    user-select: none;

    transition: all 0.2s;
}

.process__contentBackward:hover, .process__contentForward:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: black;
    border: 2px var(--primary) solid;
}

.process__contentDotContainer {
    position: absolute;
    bottom: -10%;
    left: calc(50% - 74px);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--strawberrySecondary);

    width: fit-content;
    height: 30px;

    border-radius: 100px;

}

.process__contentDot {
    /* border-bottom: 1px black solid;
    border-right: 1px black solid; */
    border-radius: 100%;

    background-color: rgb(213, 212, 212);

    width: 16px;
    height: 16px;

    margin: 0 3px;

    transition: all 0.3s;
}

.process__contentDot:first-child {
    margin-left: 10px;
}

.process__contentDot:last-child {
    margin-right: 10px;
}

.process__contentDot:hover {
    cursor: pointer;
    background-color: var(--strawberryAccent);
}

.split {
    /* border: 1px black solid; */
}

.image {
    background-color: lightblue;
}

.milk__bg {
    background-image: url("../../assets/images/process/milk_bg.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    opacity: 60%;
}

.process__story.milk__bg + .process__heading {

    /* top: calc(50% - 126px);
    left: calc(50% - 469px);

    font-size: 10.5rem; */

}

.milk_split__bg {
    
    background-image: url("../../assets/images/process/milk_split_bg.jpeg");
    /* background-position: center center; */
    background-attachment: fixed;
    background-size: cover;

    opacity: 60%;
}

.environment__bg {
    background-image: url("../../assets/images/process/environment_bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    opacity: 70%;
}

.process__story.environment__bg + .process__heading {

    /* top: calc(50% - 120px);
    left: calc(50% - 429px); */

    text-align: center;

    /* line-height: 80px;

    font-size: 6.5rem; */

}

.environment_split__bg {
    background-image: url("../../assets/images/process/environment_split_bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 60%;

}

.ingredients__bg {
    background-image: url("../../assets/images/process/ingredients_bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    opacity: 60%;
}

.process__story.ingredients__bg + .process__heading {

    /* top: calc(50% - 130px);
    left: calc(50% - 386px); */

    text-align: center;

    /* line-height: 130px; */

    /* font-size: 10.5rem; */

}

.ingredients_split__bg {
    background-image: url("../../assets/images/process/ingredients_split_bg.jpg");
    background-attachment: fixed;
    background-size: cover;

    opacity: 60%;
}

.ice__bg {
    background-image: url("../../assets/images/process/ice_bg.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    opacity: 60%;
}

.process__story.ice__bg + .process__heading {

    /* top: calc(50% - 126px);
    left: calc(50% - 502px);

    font-size: 10.5rem; */

}

.ice_split__bg {
    background-image: url("../../assets/images/process/ice_split_bg.jpg");
    background-attachment: fixed;
    background-position: 0;
    background-size: cover;
    opacity: 60%;
}

.local__bg {
    background-image: url("../../assets/images/process/local_bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    opacity: 60%;
}

.process__story.local__bg + .process__heading {

    /* top: calc(50% - 130px);
    left: calc(50% - 432px);

    text-align: center;

    line-height: 130px;

    font-size: 10.5rem; */

}

.local_split__bg {
    background-image: url("../../assets/images/process/local_split_bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    opacity: 60%;
}

.cones__bg {
    background-image: url("../../assets/images/process/cones_bg.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    opacity: 60%;
}

.process__story.cones__bg + .process__heading {

    /* top: calc(50% - 126px);
    left: calc(50% - 564px);

    font-size: 10.5rem; */

}

.cones_split__bg {
    background-image: url("../../assets/images/process/cones_split_bg.png");
    background-attachment: fixed;
    opacity: 60%;
    background-position: -18% center;
    background-size: cover;
}

.footer {

    height: 75px;
    border-top: 2px black solid;

    display: flex;
    align-items: center;
    justify-content: center;

    background: snow;

}

.footer__text {

    font-family: var(--tiltNeon);
    font-weight: bold;

}

.footer__link {

    color: black;

    transition: all 0.3s;

}

.footer__link:hover {

    color: var(--primary);
    

}

/* for JS */

.displayNone {
    display: none;
}

.displayFlex {
    display: flex;
}

.active {
    background-color: var(--strawberryTextHover);
}